Supporting Input decompression 

Users with poor internet connectivity frequently experience issues when uploading changes. Apart from the performance issue on rails (not discussed here), there’s also the issue that the upload itself may be slow. 

Iirc we don’t support gzip compressed http post requests yet. Could we enable this feature so that Josm or iD could optionally compress an Osm change file before sending it to the server?

Follow up tickets would of course be required in josm to compress the payload and send a proper header. A configuration change on the server is just the first step.

http://httpd.apache.org/docs/current/mod/mod_deflate.html —> input decompression 

Isn't the main problem here that the client has no way of knowing whether or not the server is going to support it until after it has tried to send compressed input?

I'm not aware of such a mechanism to negotiate input decompression settings between client and server. The idea was more along the line to enable this feature on osm.org, announce it on the dev list so that different editors (JOSM, iD, Potlatch) could implement compressed requests accordingly. My assumption was that this setting should be somewhat stable and not change every fortnight, once it has been announced.

A configurable setting on the client (maybe "enable compressed upload on slow internet connection") would be good, along with a fall back to uncompressed, if the server can't make any sense out of the compressed gibberish.


Right, but JOSM for example allows you to talk to any OSM server, not just our one. So it would have to be a configurable option.

It just seems quite dangerous to me - very easy to create a situation where people trying to talk to alternate servers have trouble.

It's also quite fragile and high risk from our point of view in that if anything broke it at our end clients wouldn't realise and everything would stop dead.

After a bit of research, there seems to be an [RFC 7694](https://tools.ietf.org/html/rfc7694#section-4) describing the fallback scenario for a server that doesn't handle `Content-Encoding: gzip` in client initiated requests.

This RFC is still quite new, and has little adoption so far. Nevertheless, a server should already respond with 415 Unsupported Media Type in such a situation according to:

Section 5 - Deployment Considerations:

Servers that do not support content codings in requests already **are required to fail a request that uses a content coding**. Section 6.5.13 of [RFC7231] defines the status code 415 (Unsupported Media Type) for this purpose, so the only change needed is to include the "Accept-Encoding" header field with the value "identity" in that  response.

Section 4: Example

Alternatively, a server that does not support any content codings in requests could answer with:

```
HTTP/1.1 415 Unsupported Media Type
Date: Fri, 09 May 2014 11:43:53 GMT
Accept-Encoding: identity
Content-Length: 61
Content-Type: text/plain
```

This resource does not support content codings in requests.

The question is, if severs out there already return 415 Unsupported Media Type.

I've pushed https://github.com/tomhughes/openstreetmap-website/commit/8e43e32bf9473da8dc0c5298efa004b652657699 based on https://gist.github.com/relistan/2109707 which actually does it in rails rather than apache which at least means anybody running an up to date copy of the rails code will get it.

It's live at https://tomh.apis.dev.openstreetmap.org/ if you want to try and test it.

Thanks a lot for setting this scenario up so quickly. I started testing on my local instance, cherry-picked your commit. Next was a test on your instance:


Using gzip compression (JOSM 13348 + patch)

```
2018-01-21 17:46:23.584 INFORMATION: PUT https://tomh.apis.dev.openstreetmap.org/api/0.6/changeset/create (169 B) ...
2018-01-21 17:46:24.147 INFORMATION: PUT https://tomh.apis.dev.openstreetmap.org/api/0.6/changeset/create -> 200 (2 B)
2018-01-21 17:46:24.147 INFORMATION: OK
2018-01-21 17:46:24.257 INFORMATION: POST https://tomh.apis.dev.openstreetmap.org/api/0.6/changeset/37/upload (7,99 kB) ...
2018-01-21 17:46:36.826 INFORMATION: POST https://tomh.apis.dev.openstreetmap.org/api/0.6/changeset/37/upload -> 200 (2,91 kB)
```

Without gzip compression: (JOSM 13265)

```
2018-01-21 17:47:32.349 INFORMATION: PUT https://tomh.apis.dev.openstreetmap.org/api/0.6/changeset/create (224 B) ...
2018-01-21 17:47:32.530 INFORMATION: PUT https://tomh.apis.dev.openstreetmap.org/api/0.6/changeset/create -> 200 (2 B)
2018-01-21 17:47:32.530 INFORMATION: OK
2018-01-21 17:47:32.643 INFORMATION: POST https://tomh.apis.dev.openstreetmap.org/api/0.6/changeset/38/upload (51,3 kB) ...
2018-01-21 17:47:44.370 INFORMATION: POST https://tomh.apis.dev.openstreetmap.org/api/0.6/changeset/38/upload -> 200 (2,72 kB)
```

I used the following quick & dirty patch for JOSM, which unconditionally compresses the request body on the fly for PUT/POST/DELETE requests: [patch.txt](https://github.com/openstreetmap/operations/files/1649937/patch.txt). 


Note that this isn't live on the production site yet...

This has now been deployed in production.